<div class="container">
<footer class="footer">
  <small>
    <%= link_to t(".the"), "http://www.railstutorial.org/" %>
    <%= link_to t(".by"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), "https://www.railstutorial.org/book/sign_up" %></li>
      <li><%= link_to t(".contact"), "https://www.youtube.com/watch?v=cnOIfm7imwQ" %></li>
      <li><%= link_to t(".new"), "http://news.railstutorial.org/" %>
    </ul>
  </nav>
</footer>
</div>
