<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".sample"), "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <%= link_to "English", locale: "en" %>
      <%= link_to "Vietnamese", locale: "vi" %>
        <li><%= link_to t(".home"), "#" %></li>
        <li><%= link_to t(".help"), "#" %></li>
        <li><%= link_to t(".log"), "#" %></li>
      </ul>
    </nav>
  </div>
